DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
AUTH_SECRET="fp105gfVUzU6LziYROBfuc/72eMzad3guU0RUPQ/eaCmKZjDwljriULYs0MwWsEUt4WTfNegST7jnx7v3D/12Rm/U4oFZtQAKpdvYQGR9nHvrL9nmfcCCXwMliU1CCUSFaZtq3NMA0v+hrjYqhVDXgCddNEjiAcIxZOsa8J7lRJHQeOXmWNBF1KgGO8Ms40u1RbTHlvrGfTWgbbvU4uGaxx9FnQm0cz8mvJiIUZzviOeDWvi7gfQjVW4zn3nCp323Ia8LqOx0mn/pYmncRYCtnBAtnVYFzkqgevqwrbLUO4u/GRyQ12pollaDczDaed8H0N0xaLguYhvGeII"
